* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100% !important;
}

.lwrapper {
  padding: 4rem 0 !important;
}

@media (max-width: 768px) {
  .lwrapper {
    padding: 3.5rem 0 !important;
  }
}

@media (max-width: 576px) {
  .lwrapper {
    padding: 3rem 0 !important;
  }
}

.lcontainer {
  width: 100% !important;
  max-width: 1280px !important;
  margin: auto !important;
  padding-inline-start: 2rem !important;
  padding-inline-end: 2rem !important;
}

@media (max-width: 768px) {
  .lcontainer {
    padding-inline-start: 1rem !important;
    padding-inline-end: 1rem !important;
  }
}

.lrow {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-inline-start: -1rem !important;
  margin-inline-end: -1rem !important;
}

.lrow > * {
  padding-inline-start: 1rem !important;
  padding-inline-end: 1rem !important;
}

.lcol-1 {
  width: 8.33333333% !important;
}

.lcol-2 {
  width: 16.66666667% !important;
}

.lcol-3 {
  width: 25% !important;
}

.lcol-4 {
  width: 33.3333337% !important;
}

.lcol-5 {
  width: 41.6666667% !important;
}

.lcol-6 {
  width: 50% !important;
}

.lcol-7 {
  width: 58.33333333% !important;
}

.lcol-8 {
  width: 66.66666667% !important;
}

.lcol-9 {
  width: 75% !important;
}

.lcol-10 {
  width: 83.33333333% !important;
}

.lcol-11 {
  width: 91.66666667% !important;
}

.lcol-12 {
  width: 100% !important;
}

@media (min-width: 576px) {
  .lcol-sm-1 {
    width: 8.33333333% !important;
  }

  .lcol-sm-2 {
    width: 16.66666667% !important;
  }

  .lcol-sm-3 {
    width: 25% !important;
  }

  .lcol-sm-4 {
    width: 33.3333337% !important;
  }

  .lcol-sm-5 {
    width: 41.6666667% !important;
  }

  .lcol-sm-6 {
    width: 50% !important;
  }

  .lcol-sm-7 {
    width: 58.33333333% !important;
  }

  .lcol-sm-8 {
    width: 66.66666667% !important;
  }

  .lcol-sm-9 {
    width: 75% !important;
  }

  .lcol-sm-10 {
    width: 83.33333333% !important;
  }

  .lcol-sm-11 {
    width: 91.66666667% !important;
  }

  .lcol-sm-12 {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .lcol-md-1 {
    width: 8.33333333% !important;
  }

  .lcol-md-2 {
    width: 16.66666667% !important;
  }

  .lcol-md-3 {
    width: 25% !important;
  }

  .lcol-md-4 {
    width: 33.3333337% !important;
  }

  .lcol-md-5 {
    width: 41.6666667% !important;
  }

  .lcol-md-6 {
    width: 50% !important;
  }

  .lcol-md-7 {
    width: 58.33333333% !important;
  }

  .lcol-md-8 {
    width: 66.66666667% !important;
  }

  .lcol-md-9 {
    width: 75% !important;
  }

  .lcol-md-10 {
    width: 83.33333333% !important;
  }

  .lcol-md-11 {
    width: 91.66666667% !important;
  }

  .lcol-md-12 {
    width: 100% !important;
  }

  .lrow .d-md-none {
    display: none !important;
  }
}

@media (min-width: 991px) {
  .lcol-lg-1 {
    width: 8.33333333% !important;
  }

  .lcol-lg-2 {
    width: 16.66666667% !important;
  }

  .lcol-lg-3 {
    width: 25% !important;
  }

  .lcol-lg-4 {
    width: 33.3333337% !important;
  }

  .lcol-lg-5 {
    width: 41.6666667% !important;
  }

  .lcol-lg-6 {
    width: 50% !important;
  }

  .lcol-lg-7 {
    width: 58.33333333% !important;
  }

  .lcol-lg-8 {
    width: 66.66666667% !important;
  }

  .lcol-lg-9 {
    width: 75% !important;
  }

  .lcol-lg-10 {
    width: 83.33333333% !important;
  }

  .lcol-lg-11 {
    width: 91.66666667% !important;
  }

  .lcol-lg-12 {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .lcol-xl-1 {
    width: 8.33333333% !important;
  }

  .lcol-xl-2 {
    width: 16.66666667% !important;
  }

  .lcol-xl-3 {
    width: 25% !important;
  }

  .lcol-xl-4 {
    width: 33.3333337% !important;
  }

  .lcol-xl-5 {
    width: 41.6666667% !important;
  }

  .lcol-xl-6 {
    width: 50% !important;
  }

  .lcol-xl-7 {
    width: 58.33333333% !important;
  }

  .lcol-lg-8 {
    width: 66.66666667% !important;
  }

  .lcol-xl-9 {
    width: 75% !important;
  }

  .lcol-xl-10 {
    width: 83.33333333% !important;
  }

  .lcol-xl-11 {
    width: 91.66666667% !important;
  }

  .lcol-xl-12 {
    width: 100% !important;
  }
}

/* font-size */

.lfont-size-6x {
  font-size: 2.5em !important;
}

.lfont-size-5x {
  font-size: 2em !important;
}

.lfont-size-4x {
  font-size: 1.75em !important;
}

.lfont-size-3x {
  font-size: 1.5em !important;
}

.lfont-size-2x {
  font-size: 1.25em !important;
}

.lfont-size-1x {
  font-size: 1em !important;
}

@media (max-width: 768px) {
  .lfont-size-6x {
    font-size: 2em !important;
  }

  .lfont-size-5x {
    font-size: 1.75em !important;
  }

  .lfont-size-4x {
    font-size: 1.5em !important;
  }

  .lfont-size-3x {
    font-size: 1.25em !important;
  }
}

/* font-weight */

.lfw-900 {
  font-weight: 900 !important;
}

.lfw-700 {
  font-weight: 700 !important;
}

.lfw-500 {
  font-weight: 500 !important;
}

.lfw-400 {
  font-weight: 400 !important;
}

.lfw-300 {
  font-weight: 300 !important;
}

/* margin-bottom */
.lmb-0 {
  margin-bottom: 0 !important;
}

.lmb-1 {
  margin-bottom: 0.25rem !important;
}

.lmb-2 {
  margin-bottom: 0.5rem !important;
}

.lmb-3 {
  margin-bottom: 0.75rem !important;
}

.lmb-4 {
  margin-bottom: 1rem !important;
}

.lmb-5 {
  margin-bottom: 1.5rem !important;
}

/* margin-inline-start */
.lms-0 {
  margin-inline-start: 0 !important;
}

.lms-1 {
  margin-inline-start: 0.25rem !important;
}

.lms-2 {
  margin-inline-start: 0.5rem !important;
}

.lms-3 {
  margin-inline-start: 0.75rem !important;
}

.lms-4 {
  margin-inline-start: 1rem !important;
}

.lms-5 {
  margin-inline-start: 1.5rem !important;
}

/* margin-inline-end */
.lme-0 {
  margin-inline-end: 0 !important;
}

.lme-1 {
  margin-inline-end: 0.25rem !important;
}

.lme-2 {
  margin-inline-end: 0.5rem !important;
}

.lme-3 {
  margin-inline-end: 0.75rem !important;
}

.lme-4 {
  margin-inline-end: 1rem !important;
}

.lme-5 {
  margin-inline-end: 1.5rem !important;
}

/* margin-top */
.lmt-0 {
  margin-top: 0 !important;
}

.lmt-1 {
  margin-top: 0.25rem !important;
}

.lmt-2 {
  margin-top: 0.5rem !important;
}

.lmt-3 {
  margin-top: 0.75rem !important;
}

.lmt-4 {
  margin-top: 1rem !important;
}

.lmt-5 {
  margin-top: 1.5rem !important;
}

@media (min-width: 576px) {
  /* margin-bottom */
  .lmb-sm-0 {
    margin-bottom: 0 !important;
  }

  .lmb-sm-1 {
    margin-bottom: 0.25rem !important;
  }

  .lmb-sm-2 {
    margin-bottom: 0.5rem !important;
  }

  .lmb-sm-3 {
    margin-bottom: 0.75rem !important;
  }

  .lmb-sm-4 {
    margin-bottom: 1rem !important;
  }

  .lmb-sm-5 {
    margin-bottom: 1.5rem !important;
  }

  /* margin-inline-start */
  .lms-sm-0 {
    margin-inline-start: 0 !important;
  }

  .lms-sm-1 {
    margin-inline-start: 0.25rem !important;
  }

  .lms-sm-2 {
    margin-inline-start: 0.5rem !important;
  }

  .lms-sm-3 {
    margin-inline-start: 0.75rem !important;
  }

  .lms-sm-4 {
    margin-inline-start: 1rem !important;
  }

  .lms-sm-5 {
    margin-inline-start: 1.5rem !important;
  }

  /* margin-inline-end */
  .lme-sm-0 {
    margin-inline-end: 0 !important;
  }

  .lme-sm-1 {
    margin-inline-end: 0.25rem !important;
  }

  .lme-sm-2 {
    margin-inline-end: 0.5rem !important;
  }

  .lme-sm-3 {
    margin-inline-end: 0.75rem !important;
  }

  .lme-sm-4 {
    margin-inline-end: 1rem !important;
  }

  .lme-sm-5 {
    margin-inline-end: 1.5rem !important;
  }

  /* margin-top */
  .lmt-sm-0 {
    margin-top: 0 !important;
  }

  .lmt-sm-1 {
    margin-top: 0.25rem !important;
  }

  .lmt-sm-2 {
    margin-top: 0.5rem !important;
  }

  .lmt-sm-3 {
    margin-top: 0.75rem !important;
  }

  .lmt-sm-4 {
    margin-top: 1rem !important;
  }

  .lmt-sm-5 {
    margin-top: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  /* margin-bottom */
  .lmb-md-0 {
    margin-bottom: 0 !important;
  }

  .lmb-md-1 {
    margin-bottom: 0.25rem !important;
  }

  .lmb-md-2 {
    margin-bottom: 0.5rem !important;
  }

  .lmb-md-3 {
    margin-bottom: 0.75rem !important;
  }

  .lmb-md-4 {
    margin-bottom: 1rem !important;
  }

  .lmb-md-5 {
    margin-bottom: 1.5rem !important;
  }

  /* margin-inline-start */
  .lms-md-0 {
    margin-inline-start: 0 !important;
  }

  .lms-md-1 {
    margin-inline-start: 0.25rem !important;
  }

  .lms-md-2 {
    margin-inline-start: 0.5rem !important;
  }

  .lms-md-3 {
    margin-inline-start: 0.75rem !important;
  }

  .lms-md-4 {
    margin-inline-start: 1rem !important;
  }

  .lms-md-5 {
    margin-inline-start: 1.5rem !important;
  }

  /* margin-inline-end */
  .lme-md-0 {
    margin-inline-end: 0 !important;
  }

  .lme-md-1 {
    margin-inline-end: 0.25rem !important;
  }

  .lme-md-2 {
    margin-inline-end: 0.5rem !important;
  }

  .lme-md-3 {
    margin-inline-end: 0.75rem !important;
  }

  .lme-md-4 {
    margin-inline-end: 1rem !important;
  }

  .lme-md-5 {
    margin-inline-end: 1.5rem !important;
  }

  /* margin-top */
  .lmt-md-0 {
    margin-top: 0 !important;
  }

  .lmt-md-1 {
    margin-top: 0.25rem !important;
  }

  .lmt-md-2 {
    margin-top: 0.5rem !important;
  }

  .lmt-md-3 {
    margin-top: 0.75rem !important;
  }

  .lmt-md-4 {
    margin-top: 1rem !important;
  }

  .lmt-md-5 {
    margin-top: 1.5rem !important;
  }
}

@media (min-width: 991px) {
  /* margin-bottom */
  .lmb-lg-0 {
    margin-bottom: 0 !important;
  }

  .lmb-lg-1 {
    margin-bottom: 0.25rem !important;
  }

  .lmb-lg-2 {
    margin-bottom: 0.5rem !important;
  }

  .lmb-lg-3 {
    margin-bottom: 0.75rem !important;
  }

  .lmb-lg-4 {
    margin-bottom: 1rem !important;
  }

  .lmb-lg-5 {
    margin-bottom: 1.5rem !important;
  }

  /* margin-inline-start */
  .lms-lg-0 {
    margin-inline-start: 0 !important;
  }

  .lms-lg-1 {
    margin-inline-start: 0.25rem !important;
  }

  .lms-lg-2 {
    margin-inline-start: 0.5rem !important;
  }

  .lms-lg-3 {
    margin-inline-start: 0.75rem !important;
  }

  .lms-lg-4 {
    margin-inline-start: 1rem !important;
  }

  .lms-lg-5 {
    margin-inline-start: 1.5rem !important;
  }

  /* margin-inline-end */
  .lme-lg-0 {
    margin-inline-end: 0 !important;
  }

  .lme-lg-1 {
    margin-inline-end: 0.25rem !important;
  }

  .lme-lg-2 {
    margin-inline-end: 0.5rem !important;
  }

  .lme-lg-3 {
    margin-inline-end: 0.75rem !important;
  }

  .lme-lg-4 {
    margin-inline-end: 1rem !important;
  }

  .lme-lg-5 {
    margin-inline-end: 1.5rem !important;
  }

  /* margin-top */
  .lmt-lg-0 {
    margin-top: 0.25rem !important;
  }

  .lmt-lg-1 {
    margin-top: 0.25rem !important;
  }

  .lmt-lg-2 {
    margin-top: 0.5rem !important;
  }

  .lmt-lg-3 {
    margin-top: 0.75rem !important;
  }

  .lmt-lg-4 {
    margin-top: 1rem !important;
  }

  .lmt-lg-5 {
    margin-top: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  /* margin-bottom */
  .lmb-xl-0 {
    margin-bottom: 0 !important;
  }

  .lmb-xl-1 {
    margin-bottom: 0.25rem !important;
  }

  .lmb-xl-2 {
    margin-bottom: 0.5rem !important;
  }

  .lmb-xl-3 {
    margin-bottom: 0.75rem !important;
  }

  .lmb-xl-4 {
    margin-bottom: 1rem !important;
  }

  .lmb-xl-5 {
    margin-bottom: 1.5rem !important;
  }

  /* margin-inline-start */
  .lms-xl-0 {
    margin-inline-start: 0 !important;
  }

  .lms-xl-1 {
    margin-inline-start: 0.25rem !important;
  }

  .lms-xl-2 {
    margin-inline-start: 0.5rem !important;
  }

  .lms-xl-3 {
    margin-inline-start: 0.75rem !important;
  }

  .lms-xl-4 {
    margin-inline-start: 1rem !important;
  }

  .lms-xl-5 {
    margin-inline-start: 1.5rem !important;
  }

  /* margin-inline-end */
  .lme-xl-0 {
    margin-inline-end: 0 !important;
  }

  .lme-xl-1 {
    margin-inline-end: 0.25rem !important;
  }

  .lme-xl-2 {
    margin-inline-end: 0.5rem !important;
  }

  .lme-xl-3 {
    margin-inline-end: 0.75rem !important;
  }

  .lme-xl-4 {
    margin-inline-end: 1rem !important;
  }

  .lme-xl-5 {
    margin-inline-end: 1.5rem !important;
  }

  /* margin-top */
  .lmt-xl-0 {
    margin-top: 0 !important;
  }

  .lmt-xl-1 {
    margin-top: 0.25rem !important;
  }

  .lmt-xl-2 {
    margin-top: 0.5rem !important;
  }

  .lmt-xl-3 {
    margin-top: 0.75rem !important;
  }

  .lmt-xl-4 {
    margin-top: 1rem !important;
  }

  .lmt-xl-5 {
    margin-top: 1.5rem !important;
  }
}

/* padding-bottom */
.lpb-0 {
  padding-bottom: 0 !important;
}

.lpb-1 {
  padding-bottom: 0.25rem !important;
}

.lpb-2 {
  padding-bottom: 0.5rem !important;
}

.lpb-3 {
  padding-bottom: 0.75rem !important;
}

.lpb-4 {
  padding-bottom: 1rem !important;
}

.lpb-5 {
  padding-bottom: 1.5rem !important;
}

/* padding-inline-start */
.lps-0 {
  padding-inline-start: 0 !important;
}

.lps-1 {
  padding-inline-start: 0.25rem !important;
}

.lps-2 {
  padding-inline-start: 0.5rem !important;
}

.lps-3 {
  padding-inline-start: 0.75rem !important;
}

.lps-4 {
  padding-inline-start: 1rem !important;
}

.lps-5 {
  padding-inline-start: 1.5rem !important;
}

/* padding-inline-end */
.lpe-0 {
  padding-inline-end: 0 !important;
}

.lpe-1 {
  padding-inline-end: 0.25rem !important;
}

.lpe-2 {
  padding-inline-end: 0.5rem !important;
}

.lpe-3 {
  padding-inline-end: 0.75rem !important;
}

.lpe-4 {
  padding-inline-end: 1rem !important;
}

.lpe-5 {
  padding-inline-end: 1.5rem !important;
}

/* padding-top */
.lpt-0 {
  padding-inline-end: 0 !important;
}

.lpt-1 {
  padding-inline-end: 0.25rem !important;
}

.lpt-2 {
  padding-inline-end: 0.5rem !important;
}

.lpt-3 {
  padding-inline-end: 0.75rem !important;
}

.lpt-4 {
  padding-inline-end: 1rem !important;
}

.lpt-5 {
  padding-inline-end: 1.5rem !important;
}

@media (min-width: 576px) {
  /* padding-bottom */
  .lpb-sm-0 {
    padding-bottom: 0 !important;
  }

  .lpb-sm-1 {
    padding-bottom: 0.25rem !important;
  }

  .lpb-sm-2 {
    padding-bottom: 0.5rem !important;
  }

  .lpb-sm-3 {
    padding-bottom: 0.75rem !important;
  }

  .lpb-sm-4 {
    padding-bottom: 1rem !important;
  }

  .lpb-sm-5 {
    padding-bottom: 1.5rem !important;
  }

  /* padding-inline-start */
  .lps-sm-0 {
    padding-inline-start: 0 !important;
  }

  .lps-sm-1 {
    padding-inline-start: 0.25rem !important;
  }

  .lps-sm-2 {
    padding-inline-start: 0.5rem !important;
  }

  .lps-sm-3 {
    padding-inline-start: 0.75rem !important;
  }

  .lps-sm-4 {
    padding-inline-start: 1rem !important;
  }

  .lps-sm-5 {
    padding-inline-start: 1.5rem !important;
  }

  /* padding-inline-end */
  .lpe-sm-0 {
    padding-inline-end: 0 !important;
  }

  .lpe-sm-1 {
    padding-inline-end: 0.25rem !important;
  }

  .lpe-sm-2 {
    padding-inline-end: 0.5rem !important;
  }

  .lpe-sm-3 {
    padding-inline-end: 0.75rem !important;
  }

  .lpe-sm-4 {
    padding-inline-end: 1rem !important;
  }

  .lpe-sm-5 {
    padding-inline-end: 1.5rem !important;
  }

  /* padding-top */
  .lpt-sm-0 {
    padding-top: 0 !important;
  }

  .lpt-sm-1 {
    padding-top: 0.25rem !important;
  }

  .lpt-sm-2 {
    padding-top: 0.5rem !important;
  }

  .lpt-sm-3 {
    padding-top: 0.75rem !important;
  }

  .lpt-sm-4 {
    padding-top: 1rem !important;
  }

  .lpt-sm-5 {
    padding-top: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  /* padding-bottom */
  .lpb-md-0 {
    padding-bottom: 0 !important;
  }

  .lpb-md-1 {
    padding-bottom: 0.25rem !important;
  }

  .lpb-md-2 {
    padding-bottom: 0.5rem !important;
  }

  .lpb-md-3 {
    padding-bottom: 0.75rem !important;
  }

  .lpb-md-4 {
    padding-bottom: 1rem !important;
  }

  .lpb-md-5 {
    padding-bottom: 1.5rem !important;
  }

  /* padding-inline-start */
  .lps-md-0 {
    padding-inline-start: 0 !important;
  }

  .lps-md-1 {
    padding-inline-start: 0.25rem !important;
  }

  .lps-md-2 {
    padding-inline-start: 0.5rem !important;
  }

  .lps-md-3 {
    padding-inline-start: 0.75rem !important;
  }

  .lps-md-4 {
    padding-inline-start: 1rem !important;
  }

  .lps-md-5 {
    padding-inline-start: 1.5rem !important;
  }

  /* padding-inline-end */
  .lpe-md-0 {
    padding-inline-end: 0 !important;
  }

  .lpe-md-1 {
    padding-inline-end: 0.25rem !important;
  }

  .lpe-md-2 {
    padding-inline-end: 0.5rem !important;
  }

  .lpe-md-3 {
    padding-inline-end: 0.75rem !important;
  }

  .lpe-md-4 {
    padding-inline-end: 1rem !important;
  }

  .lpe-md-5 {
    padding-inline-end: 1.5rem !important;
  }

  /* padding-top */
  .lpt-md-0 {
    padding-top: 0 !important;
  }

  .lpt-md-1 {
    padding-top: 0.25rem !important;
  }

  .lpt-md-2 {
    padding-top: 0.5rem !important;
  }

  .lpt-md-3 {
    padding-top: 0.75rem !important;
  }

  .lpt-md-4 {
    padding-top: 1rem !important;
  }

  .lpt-md-5 {
    padding-top: 1.5rem !important;
  }
}

@media (min-width: 991px) {
  /* padding-bottom */
  .lpb-lg-0 {
    padding-bottom: 0 !important;
  }

  .lpb-lg-1 {
    padding-bottom: 0.25rem !important;
  }

  .lpb-lg-2 {
    padding-bottom: 0.5rem !important;
  }

  .lpb-lg-3 {
    padding-bottom: 0.75rem !important;
  }

  .lpb-lg-4 {
    padding-bottom: 1rem !important;
  }

  .lpb-lg-5 {
    padding-bottom: 1.5rem !important;
  }

  /* padding-inline-start */
  .lps-lg-0 {
    padding-inline-start: 0 !important;
  }

  .lps-lg-1 {
    padding-inline-start: 0.25rem !important;
  }

  .lps-lg-2 {
    padding-inline-start: 0.5rem !important;
  }

  .lps-lg-3 {
    padding-inline-start: 0.75rem !important;
  }

  .lps-lg-4 {
    padding-inline-start: 1rem !important;
  }

  .lps-lg-5 {
    padding-inline-start: 1.5rem !important;
  }

  /* padding-inline-end */
  .lpe-lg-0 {
    padding-inline-end: 0 !important;
  }

  .lpe-lg-1 {
    padding-inline-end: 0.25rem !important;
  }

  .lpe-lg-2 {
    padding-inline-end: 0.5rem !important;
  }

  .lpe-lg-3 {
    padding-inline-end: 0.75rem !important;
  }

  .lpe-lg-4 {
    padding-inline-end: 1rem !important;
  }

  .lpe-lg-5 {
    padding-inline-end: 1.5rem !important;
  }

  /* padding-top */
  .lpt-lg-0 {
    padding-top: 0.25rem !important;
  }

  .lpt-lg-1 {
    padding-top: 0.25rem !important;
  }

  .lpt-lg-2 {
    padding-top: 0.5rem !important;
  }

  .lpt-lg-3 {
    padding-top: 0.75rem !important;
  }

  .lpt-lg-4 {
    padding-top: 1rem !important;
  }

  .lpt-lg-5 {
    padding-top: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  /* padding-bottom */
  .lpb-xl-0 {
    padding-bottom: 0 !important;
  }

  .lpb-xl-1 {
    padding-bottom: 0.25rem !important;
  }

  .lpb-xl-2 {
    padding-bottom: 0.5rem !important;
  }

  .lpb-xl-3 {
    padding-bottom: 0.75rem !important;
  }

  .lpb-xl-4 {
    padding-bottom: 1rem !important;
  }

  .lpb-xl-5 {
    padding-bottom: 1.5rem !important;
  }

  /* padding-inline-start */
  .lps-xl-0 {
    padding-inline-start: 0 !important;
  }

  .lps-xl-1 {
    padding-inline-start: 0.25rem !important;
  }

  .lps-xl-2 {
    padding-inline-start: 0.5rem !important;
  }

  .lps-xl-3 {
    padding-inline-start: 0.75rem !important;
  }

  .lps-xl-4 {
    padding-inline-start: 1rem !important;
  }

  .lps-xl-5 {
    padding-inline-start: 1.5rem !important;
  }

  /* padding-inline-end */
  .lpe-xl-0 {
    padding-inline-end: 0 !important;
  }

  .lpe-xl-1 {
    padding-inline-end: 0.25rem !important;
  }

  .lpe-xl-2 {
    padding-inline-end: 0.5rem !important;
  }

  .lpe-xl-3 {
    padding-inline-end: 0.75rem !important;
  }

  .lpe-xl-4 {
    padding-inline-end: 1rem !important;
  }

  .lpe-xl-5 {
    padding-inline-end: 1.5rem !important;
  }

  /* padding-top */
  .lpt-xl-0 {
    padding-top: 0 !important;
  }

  .lpt-xl-1 {
    padding-top: 0.25rem !important;
  }

  .lpt-xl-2 {
    padding-top: 0.5rem !important;
  }

  .lpt-xl-3 {
    padding-top: 0.75rem !important;
  }

  .lpt-xl-4 {
    padding-top: 1rem !important;
  }

  .lpt-xl-5 {
    padding-top: 1.5rem !important;
  }
}

/* colors */
.ltext-blue {
  color: rgb(3, 120, 210) !important;
}

.ltext-red {
  color: rgb(220, 9, 9) !important;
}

.ltext-orange {
  color: rgb(247, 140, 0) !important;
}

.ltext-pink {
  color: rgb(237, 19, 175) !important;
}

.ltext-green {
  color: rgb(72, 194, 6) !important;
}

.ltext-yellow {
  color: rgb(243, 231, 12) !important;
}

.ltext-black {
  color: #101010 !important;
}

.ltext-muted {
  color: #65676e !important;
}

.ltext-white {
  color: #ffffff !important;
}

/* background-color */

.lbg-blue {
  background-color: rgb(3, 120, 210) !important;
}

.lbg-red {
  background-color: rgb(220, 9, 9) !important;
}

.lbg-orange {
  background-color: rgb(247, 140, 0) !important;
}

.lbg-pink {
  background-color: rgb(237, 19, 175) !important;
}

.lbg-green {
  background-color: rgb(72, 194, 6) !important;
}

.lbg-yellow {
  background-color: rgb(243, 231, 12) !important;
}

.lbg-black {
  background-color: #101010 !important;
}

.lbg-white {
  background-color: #ffffff !important;
}

/* border-radius */

.lrounded-1 {
  border-radius: 0.25rem !important;
}

.lrounded-2 {
  border-radius: 0.5rem !important;
}

.lrounded-3 {
  border-radius: 0.75rem !important;
}

.lrounded-4 {
  border-radius: 1rem !important;
}

.lrounded-5 {
  border-radius: 1.5rem !important;
}

.lrounded-full {
  border-radius: 1000px !important;
}

/* button */
.lbtn {
  display: inline-flex !important;
  align-items: center !important;
  padding: 0.25rem 0.5rem !important;
  transition: 0.25s !important;
  border: 1px solid transparent !important;
  text-decoration: none !important;
}

.lbtn.lsmall {
  padding: 0.2rem 0.6rem !important;
}

.lbtn.lmedium {
  padding: 0.4rem 1rem !important;
}

.lbtn.llarge {
  padding: 0.8rem 2rem !important;
}

.lbtn.lbtn-success {
  background-color: rgb(72, 194, 6) !important;
  color: #fff !important;
  border-color: rgb(61, 164, 6) !important;
}

.lbtn.lbtn-danger {
  background-color: rgb(220, 9, 9) !important;
  color: #fff !important;
  border-color: rgb(175, 6, 6) !important;
}

.lbtn.lbtn-info {
  background-color: rgb(9, 143, 220) !important;
  color: #fff !important;
  border-color: rgb(5, 115, 178) !important;
}

.lbtn.lbtn-dark {
  background-color: rgb(15, 18, 20) !important;
  color: #fff !important;
  border-color: rgb(0, 0, 0) !important;
}

.lbtn.lbtn-white {
  background-color: rgb(255, 255, 255) !important;
  color: #1b1e21 !important;
  border-color: rgb(225, 225, 225) !important;
}

/* space-y */

.lspace-y-2 > * {
  margin-top: 0.5rem !important;
}

.lspace-y-2 > *:first-child {
  margin-top: 0 !important;
}

.lspace-y-3 > * {
  margin-top: 0.75rem !important;
}

.lspace-y-3 > *:first-child {
  margin-top: 0 !important;
}

.lspace-y-4 > * {
  margin-top: 1rem !important;
}

.lspace-y-4 > *:first-child {
  margin-top: 0 !important;
}

.lspace-y-5 > * {
  margin-top: 1.5rem !important;
}

.lspace-y-5 > *:first-child {
  margin-top: 0 !important;
}

/* text-align */

.ltext-center {
  text-align: center !important;
}

.ltext-start {
  text-align: start !important;
}

.ltext-end {
  text-align: end !important;
}

.ltext-justify {
  text-align: justify !important;
}

/* display */

.ld-flex {
  display: flex !important;
}

.ld-block {
  display: block !important;
}

.ld-inline-block {
  display: inline-block !important;
}

.ld-none {
  display: none !important;
}

/* Object */

.lobject-center {
  object-position: center !important;
}

.lobject-cover {
  object-fit: cover !important;
}

/* width */

.lw-full {
  width: 100% !important;
}

/* gap */

.lgap-1 {
  gap: 0.25rem !important;
}

.lgap-2 {
  gap: 0.5rem !important;
}

.lgap-3 {
  gap: 0.75rem !important;
}

.lgap-4 {
  gap: 1rem !important;
}

/* top banner margin */
.top-banner-margin {
  margin-top: -10rem !important;
}

@media (max-width: 992px) {
  .top-banner-margin {
    margin-top: -8rem !important;
  }
}

@media (max-width: 768px) {
  .top-banner-margin {
    margin-top: -6rem !important;
  }
}

@media (max-width: 576px) {
  .top-banner-margin {
    margin-top: -4rem !important;
  }
}

/* box-shadow */

.lshadow-md {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

/* Flex justify & aligh */

.litems-center {
  align-items: center !important;
}

.ljustify-between {
  justify-content: space-between !important;
}

.ljustify-around {
  justify-content: space-around !important;
}

.ljustify-center {
  justify-content: center !important;
}

.ljustify-end {
  justify-content: end !important;
}

.ljustify-start {
  justify-content: start !important;
}

p {
  margin-bottom: 0.7rem;
}
